<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeAnh</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/untitled.css">
</head>
<body style="background: white;">
    <div class="div-form">
        <div class="item-anh">

        </div>
        <div class="item-text">
            <h4 style="color: black; margin-bottom: 0; margin-top: 5px; font-family: Cabin,sans-serif; font-weight: 600">Name Friend</h4>
            <p style="color: black; margin-bottom: 0; margin-top: 5px; font-family: Quicksand, sans-serif; font-weight: 600">Age</p>
            <p style="color: black; margin-bottom: 0; margin-top: 5px; font-family: Quicksand, sans-serif; font-weight: 600">Instagram</p>
        </div>
        <button type="submit" class="btn-submit">ADD</button>
    </div>
            <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/grayscale.js"></script>
</body>
</html>
