<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Lap1</title>
    <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cabin:700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aclonica">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Archivo+Black">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Quicksand">
    <link rel="stylesheet" href="fonts/font-awesome.min.css">
    <link rel="stylesheet" href="css/untitled.css">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>

<body style="background: white;">
        <article style="width: 84%; float: right; height: 100%;">
            <iframe name="pageNew" src="HomeAnh.handlebars" frameborder="0" style="width: 100%; height: 100%"></iframe>
        </article>

        <aside>
            <div class="div-bar">
                <a href="HomeUser.handlebars" target="pageNew">
                    <div class="div-container">
                        <i class='fas fa-list-ul' style="font-size:30px;"></i>
                        <h3>Thông tin của tôi</h3>
                    </div>
                </a>
            </div>
            <div class="div-item1">
                <img class="mySlides w3-animate-fading" src="img/img-01.jpg" style="width: 100%; height: 100%"/>
                <img class="mySlides w3-animate-fading" src="img/img-02.png" style="width: 100%; height: 100%"/>
                <img class="mySlides w3-animate-fading" src="img/img-03.jpg" style="width: 100%; height: 100%"/>
                <img class="mySlides w3-animate-fading" src="img/img-04.png" style="width: 100%; height: 100%"/>
            </div>
            <div class="div-control">
                <a href="TimKiem.handlebars" target="page">
                    <label id="label-item1">Kết đôi</label>
                </a>
                <a href="DanhSach.handlebars" target="page">
                    <label id="label-item2">Danh sách</label>
                </a>
            </div>
            <div class="div-item2">
                <iframe name="page" src="TimKiem.handlebars" scrolling="auto" frameborder="0" style="width: 100%; height: 100%"></iframe>
            </div>
        </aside>
                <!-- Scripts -->
    <script src="js/jquery.min.js"></script>
    <script src="bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="js/grayscale.js"></script>
    <script src="js/thuVien.js"></script>
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
        <script src="js/SlideShow.js"></script>
</body>

</html>
